/*!
 * =====================================================
 * 云启根据业务对sui进行的补充
 *
 * =====================================================
 */

.yq-title{
  font-size: 0.9rem;
  color: #000;
}
.yq-center{
    text-align:center
}
.yq-no-margin {
    margin:0;
}
.yq-no-margin-top {
    margin:0;
}
.yq-col-45 {
    position:relative;
    width:45%
}

/*报名人数的圆圈*/
.yq-applied-count{
    display: inline-block;
    position: relative;
    float: right;
    top: 0.4rem;
    background-color: red;
    overflow: hidden;
    color: white;
    text-align: center;
    padding: 0.1rem;
    font-size: 0.7rem;
    line-height: 0.7rem;
    border-radius: 0.8rem;
}
/*包运费 请求车数 截止时间*/
.yq-package-main-info {
    font-weight: bold;
    text-align: center;
    border-bottom: 0.05rem solid green;
}
/*包起止地*/

.yq-package-address-info {    
    border: 0.05rem solid #4cd964;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    border-radius: 0.25rem;
    padding: 0.3rem;
    width: 35%;
    height: 30%;
    margin: 0 10%;
}
.yq-package-address-info.begin{    
    border: 0.05rem solid #4cd964;
}
.yq-package-address-info.end{    
    border: 0.05rem solid #ff0000;
}
.yq-popup {
    margin-top: 65%;
    height: 65%;
}