.order-container {
  width:100%;
  padding-bottom: 2.4rem;
}
.order-container .order-item {
  padding: .36rem .3rem .16rem;
  margin-bottom: .2rem;
  background: #fff;
  overflow: hidden;
}
.order-container .left-logo {
  width: 1.56rem;
  height: 1.56rem;
  display: inline-block;
  /*background: transparent url(../images/logo/logo.png) 0 0 no-repeat;
  background-size: 100%;*/
  vertical-align: top;
}
.order-container .left-logo img {
    width: 1.56rem;
  height: 1.56rem;
  }
.order-container .right-content {
  width: 4.75rem;
  font-size: .27rem;
  float: right;
}
.order-container .right-content .company-name {
  font-size: .37rem;
  font-weight: bold;
}
.order-container .right-content .addr-start {
  text-indent: .4rem;
  background: transparent url(../images/qidian.png) 0 0 no-repeat;
  background-size: .4rem;
}
.order-container .right-content .addr-end {
  text-indent: .4rem;
  background: transparent url(../images/zhongdian.png) 0 0 no-repeat;
  background-size: .4rem;
}
.order-container .right-content .linkman {
  color: #999;
  display: inline;
}
.order-container .right-content .order-prcie {
  font-size: .27rem;
  font-weight: normal;
  display: inline-block;
  float: right;
}
.order-container .right-content .order-time {
  color: #999;
  text-indent: .4rem;
  background: transparent url(../images/shijian.png) 0 0 no-repeat;
  background-size: .4rem;
  display: inline-block;
}
.order-container .right-content .order-people {
  display: inline-block;
  float: right;
}
.order-container .right-content .order-people span {
  color: #ff0000;
}
.order-container .right-content .order-cancel {
  display: inline;
  padding: 0 .1rem;
  margin: 0 0 0 .75rem;
  background: #f1f1f1;
  color: #b2b2b2;
}
.car-register {
  font-size: .32rem;
  background: #fff;
}
.car-register .add-back {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  margin: 0 0 0 .2rem;
  padding: .1rem .2rem 0 0;
  border-bottom: 1px solid #ccc;
  line-height: .6rem;
}
.car-register .add-back .car-add {
  color: red;
}
.car-register .car-src {
   display: box;	  
  display: -webkit-box;	  
  display: -moz-box;	 
  display: -ms-flexbox;	 
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
   -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  border-bottom: 1px solid #ccc;
  font-size: 17px;
  line-height: 40px;
  margin-left: .2rem;
  padding-right: .2rem;
  color: #959595;
}
.car-register .car-src .car-select {
  width: 24px;
  height: 24px;
  background: transparent url(../images/fabao-icons.png) 0 -336px no-repeat;
  background-size: 24px;
}
.car-register .car-src input {
  display: block;
  width: 1.5rem;
  border: none;
  height: 30px;
}
.car-register .car-src .selected {
  background-position: 0 -264px;
}
.car-register .car-src .add-btn {
  border: none;
  background: red;
  color: #fff;
  padding: 0 .1rem;
}
.car-btn {
  display: flex;
  display: -webkit-flex;
  justify-content: space-around;
  font-size: .3rem;
  margin: 1.15rem 0 0 0;
}
.car-btn .car-cancel,
.car-btn .car-confirm {
  width: 2.4rem;
  height: .7rem;
  border: none;
  color: #fff;
}
.car-btn .car-cancel {
  background: #f98282;
}
.car-btn .car-confirm {
  background: #46c4ff;
}
/* ’⁄’÷≤„ */
.me-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
  top: 0;
  left: 0;
  display: none;
}
.me-mask-active {
  background: rgba(0, 0, 0, 0.6);
  display: block;
}
.to-top {
  top: 0;
}
.to-bottom {
  bottom: 0;
}
.car-sheets {
  width: 100%;
  background: #fff;
  font-size: .37rem;
  padding: .2rem 0;
  position: fixed;
  left: 0;
  z-index: 6;
  display: none;
}
.car-sheets input {
  border: none;
  margin-left: .3rem;
}
.car-sheets .sheets-list {
  border-bottom: 1px solid #d9d9d9;
  height: .8rem;
  line-height: .8rem;
  margin-left: .4rem;
}
.car-sheets .add-car-btn {
  width: 6rem;
  margin-top: .2rem;
  color: #fff;
}
/* ’⁄’÷≤„ end */

/*±®√˚“≥√Ê—È÷§¬Î*/
.Tel_form .add-phone {
    /* display: block; */
}
.Tel_form .ac-sheets {
    width: 100%;
    background: #fff;
    padding: .5rem 0;
    position: fixed;
    left: 0;
    z-index: 6;
    font-size:17px;
    
}
.to-bottom {
    bottom: 0;
}
.Tel_form .ac-sheets .weui_cells {
    width: 100%;
}
.Tel_form .add-phone .code {
    width: 4rem;
    height: .7rem;
    margin: .2rem 0 0 .2rem;
    border: 1px solid #d9d9d9;
    text-align: center;
}
.Tel_form .add-phone .get-code {
    display: inline-block;
    width: 2rem;
    height: .65rem;
    line-height: .65rem;
    margin: 0 0 0 .4rem;
    border: 2px solid #04be02;
    border-radius: .1rem;
    text-align: center;
}
.Tel_form .add-phone .num-loop {
    border:none;
    background:#959595;
    color:#fff;
}
.my-applied-car {
    background: #fff;
    margin:40px 0 20px 0;
}
.my-applied-car .applied-car-tittle {
    font-size: .34rem;
    color: #000;
}
.my-applied-car .applied-car-content {

}
.my-applied-car .applied-car-content .applied-c {
    color:green;
    font-size:14px;
    padding-left:10px;
}
.my-applied-car .applied-car-content .refuse {
     color:red;
     font-size:14px;
      padding-left:10px;

}
.my-applied-car .applied-car-content .untreat {
    color:#888;
     font-size:14px;
     padding-left:10px;
}
